@model Ecommerce.Models.ExternalLoginConfirmationViewModel
@{
    ViewBag.Title = "S'inscrire";
}

<div class="container m-5 p-5">

    <h2 >@ViewBag.Title.</h2>
    <h3>
        Associez votre compte  @ViewBag.LoginProvider.
    </h3>

    @using (Html.BeginForm("ExternalLoginConfirmation", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()

<h4>Formulaire d'association</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
<p class="text-info">
    Vous êtes authentifié avec succès auprès de <strong> @ViewBag.LoginProvider </strong>.
    Veuillez entrer un nom d'utilisateur pour ce site ci-dessous et cliquez sur le bouton S'inscrire pour terminer
    se connecter.
</p>
        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn my-btn btn-save" value="S'inscrire" />
            </div>
        </div>
    }

 
</div>


@Html.Partial("Footer")

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
