@using Microsoft.AspNet.Identity
@using Ecommerce.Models
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

<ul class="nav navbar-nav navbar-right">
    @functions{
        public string coutPanier()
        {
            ApplicationDbContext db = new ApplicationDbContext();
            ApplicationUser user = new ApplicationUser();
            string name = System.Web.HttpContext.Current.User.Identity.Name;
            user = db.Users.Where(x => x.UserName.Equals(name)).FirstOrDefault();

            if(user.Paniers.Count != 0)
            {
                Panier panier = user.Paniers.Last();
                int count = db.LignePaniers.Count(x => x.id_panier == panier.id);
                Session["coutPanier"] = count;
                return Session["coutPanier"].ToString();

            }

            return "0";
        }
    }

    @if (User.IsInRole("Admin"))
    {
        <li>
            @Html.ActionLink("Bonjour " + User.Identity.GetUserName() + "!", "Index", "Dashboard", routeValues: null, htmlAttributes: new { @class = "nav-link", title = "Manage" })
        </li>
    }

    else if (User.IsInRole("User"))
    {
        <li>
            @Html.ActionLink("Bonjour " + User.Identity.GetUserName() + "!", "Index", "ClientDashboard", routeValues: null, htmlAttributes: new { @class = "nav-link", title = "Manage" })
        </li>
    }
    else
    {
        @Html.ActionLink("Bonjour " + User.Identity.GetUserName() + "!", "Index", "ClientDashboard", routeValues: null, htmlAttributes: new { @class = "nav-link", title = "Manage" })

    }

    <li><a class="nav-link" href="javascript:document.getElementById('logoutForm').submit()">Déconnexion</a></li>
    @if (User.IsInRole("User"))
    {
    <li class="font-size-14 font-rale ml-3 mt-2">
        <a href="~/LignePaniers/Index" class="py-2 rounded-pill panier-bg">
            <span class="font-size-16 px-2 text-white"><i class="fas fa-shopping-cart"></i></span>
            <span class="px-3 py-2 rounded-pill text-dark bg-light">@coutPanier() </span>
        </a>
    </li>
    }
</ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("S'inscrire", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class= "nav-link" })</li>
        <li>@Html.ActionLink("Se connecter", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class= "nav-link" })</li>
    </ul>
}


