@model Ecommerce.Models.ProduitDetails
@using System.Globalization;


@functions{
    public string livrerPar()
    {
        DateTime date = DateTime.Now.AddDays(20);
        DateTime date1 = DateTime.Now.AddDays(30);
        return date.ToString("M", new CultureInfo("fr-CA")) + ", " + date1.ToString("M", new CultureInfo("fr-CA"));
    }
}

<div class="m-5">

    @Html.HiddenFor(model => model.Produit.id)
    <section id="product" class="py-3">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 h-100">
                    <img src="~/Uploads/Produit_image/@Html.DisplayFor(model => model.Produit.image)" alt="product" class="img-fluid">
                    <div class="form-row pt-4 font-size-16 font-baloo">
                        @*     <div class="col">
                                <button type="submit" class="btn btn-danger form-control" style="text-transform:uppercase;"><i class="fas fa-shopping-cart"></i> J'achète</button>
                            </div>*@
                        <div class="col">
                            <button type="submit" class="btn btn-warning form-control"><i class="far fa-heart"></i> SAUVGARDER</button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 py-5 h-100">
                    <h5 class="font-baloo font-size-20">@Model.Produit.name</h5>

                    <hr class="m-0">

                    <table class="my-3">
                        @if (Model.deal_price != null)
                        {
                            <tr class="font-rale font-size-14">

                                <td>Prix:</td>
                                <td>
                                    <strike>
                                        @String.Format("{0:0.00}", Model.real_price) DHs
                                    </strike>
                                </td>
                            </tr>
                            <tr class="font-rale font-size-14">
                                <td>
                                    prix de transaction:
                                </td>
                                <td class="font-size-20 text-danger">
                                    <span>@String.Format("{0:0.00}", Model.deal_price) DHs</span><small class="text-dark font-size-12">
                                        &nbsp;&nbsp;Toutes taxes comprises
                                    </small>
                                </td>
                            </tr>
                            <tr class="font-rale font-size-14">
                                <td>Economie:</td>
                                <td><span class="font-size-16 text-success">@String.Format("{0:0.00}", Model.save_price) DHs</span></td>
                            </tr>
                        }
                        else
                        {
                            <tr class="font-rale font-size-14">
                                <td>
                                    prix de transaction:
                                </td>
                                <td class="font-size-20 text-success">
                                    <span>@String.Format("{0:0.00}", Model.real_price) DHs</span><small class="text-dark font-size-12">
                                        &nbsp;&nbsp;Toutes taxes comprises
                                    </small>
                                </td>
                            </tr>
                        }

                    </table>
                    <hr>



                    <div class="row">
                        <div class="d-flex justify-content-around">
                            @if (ViewBag.qty != null)
                            {
                                <h6 class="font-baloo">QUANTITÉ: &nbsp;&nbsp;&nbsp;&nbsp;</h6>
                                <span>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; @Html.DropDownList("qty", null, "-- Select -- ", htmlAttributes: new { @class = "form-control" })</span>
                            }
                            else
                            {
                                <div class="row m-5 ">
                                    <span class="material-icons text-danger">
                                        remove_circle_outline
                                    </span>
                                    <p class="text-danger font-baloo uppercase">
                                        épuisé
                                    </p>
                                </div>

                            }

                        </div>
                    </div>
                    <hr />
                    <!-- order-details -->
                    <div id="order-details" class="font-rale d-flex flex-column text-dark">
                        <small>Livraison par : @livrerPar()</small>
                    </div>
                    <!-- !order-details -->
                </div>

                <div class="row mt-5">
                    <div class="col-12">
                        <h6 class="font-baloo">Description de produit</h6>
                        <hr>
                        <p class="font-rale font-size-14">
                            @Model.Produit.description
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>


    @Html.Partial("Top")

</div>

@Html.Partial("Footer")
