@model PagedList.IPagedList<Ecommerce.Models.Produit>

@using Ecommerce.Models;
@using PagedList;
@using PagedList.Mvc;

@{
    ViewBag.Title = "Home Page";
}

<main>

    <section class="presentation">
        <div class="row">
            <div class="col-md-6 col-12">
                <div class="introduction text-center mt-5">
                    <div class="intro-text">
                        <h1 class="text-uppercase">Shop COMPUTERS & Electronic component</h1>
                        <p>Ecomerce website ENSA FES</p>
                    </div>
                    <div class="mt-2">
                        @using (Html.BeginForm("Search", "Home", FormMethod.Get))
                        {
                            <div class="d-flex justify-content-center">
                                <input type="text" id="txt" name="txt" class="form-control mr-2" placeholder="Produit ou catégorie" style="width:800px;" />
                                <button type="submit" class="btn btn-save text-white font-weight-bold search-btn">Rechercher</button>
                            </div>
                        }
                    </div>
                </div>
              
            </div>
            <div class="col-md-6 col-12 text-center">
                <div class="cover">
                    <img src="~/Uploads/matebook.png" alt="matebook" />
                </div>
            </div>
        </div>
    </section>

    <div class="container">
        <section class="my-3">
            <div id="categorie">
                <h4 class="font-rubik font-size-20">
                    Les catégories
                </h4>
                <hr>
                <div class="owl-carousel owl-theme">
                    @foreach (Categorie item in ViewBag.categories)
                    {
                        <div class="m-2 d-block">
                            <div>
                                <img alt="product1" class="img-fluid rounded text-center"
                                     src="~/Uploads/Categorie_image/@item.image" style="height:100px; width:100px;" />
                            </div>
                            <a href="~/Home/Categorie/@item.id" class="name-produit pointer font-rubik mt-2 text-black-50" id-produit="@item.id">@item.libele</a>
                        </div>
                    }
                </div>
            </div>
            <hr>

        </section>

        <section class="body">
            <h4 class="font-rubik font-size-20">
                Les produits
            </h4>
            <hr>

            @*--START-- show all products*@
            <div class="row">
                @foreach (Produit item in Model)
                {
                    <div class="col-md-3 col-sm-3 col-xs-6">

                        <div class="card item m-2 p-2">
                            @if (item.quantite_stock <= 0)
                            {
                                //image for "épuisé" SOLD OUT
                                <img alt="product1" class="img-fluid produit-img"
                                     src="~/Uploads/epuise.png" style="position:absolute;" />
                            }
                            @if (item.Promotion != null)
                            {
                                //div for taux de promotion
                                <div class="promotion" style="position:absolute;">
                                    <h6>- @item.Promotion.taux_promotion %</h6>
                                </div>
                            }
                            
                            @*Image of product*@
                            <img alt="product" class=""
                                 src="~/Uploads/Produit_image/@item.image" 
                                 
                                 style="height:150px;"/>

                            <h5 class="name-produit pointer font-rubik mt-2 " id-produit="@item.id">@item.name</h5>

                            @if (item.Promotion != null)
                            {
                                <p>
                                    <strike class="text-black-50">
                                        @String.Format("{0:0.00}", item.details().real_price) DHs
                                    </strike> <br />
                                    <span class="font-size-20 font-weight-bold text-success">
                                        @String.Format("{0:0.00}", item.details().deal_price) DHs
                                    </span>

                                </p>
                            }
                            else
                            {
                                <p>
                                    <span class="font-size-20 font-weight-bold text-success">
                                        @String.Format("{0:0.00}", item.details().real_price) DHs
                                    </span>
                                </p>
                            }

                        </div>
                    </div>

                }
            </div>
            @*--END-- show all products*@

            <div class="text-center">
                @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
            </div>
        </section>
        <hr />
        @Html.Partial("Top")
    </div>

</main>



@Html.Partial("Footer")