@model Ecommerce.Models.Categorie
@{
    Layout = "~/Views/Shared/_adminDashboard.cshtml";
}
@{
    ViewBag.Title = "Details";
}

<div class="m-5">
    <h2>Details</h2>

    <div>
        <h4>Categorie</h4>
        <hr />
        <dl class="dl-horizontal row">
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.libele)
            </dt>

            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.libele)
            </dd>

            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.image)
            </dt>

            <dd class="col-sm-9">
                <img src="~/Uploads/Categorie_image/@Html.DisplayFor(model => model.image)" class="img-thumbnail" style="width:48px; height:48px;" />

            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Modifier", "Edit", new { id = Model.id }) |
        @Html.ActionLink("Retour à la liste", "Index")
    </p>
</div>