@model IEnumerable<Ecommerce.Models.Categorie>
@{
    Layout = "~/Views/Shared/_adminDashboard.cshtml";
}

@{
    ViewBag.Title = "Index";
}

<div class="m-5">

    <div class="row justify-content-around">
        <div class="col-md-6 col-12">
            <h2>Les catégories</h2>
        </div>
        <div class="col-md-6 col-12">
            <p>
                <a href="@Url.Action("create", "Categories")" class="btn btn-orange text-white d-flex w-50 justify-content-around">
                    <i class="material-icons icon">control_point </i><span> Créer un nouveau</span>
                </a>
                @*        @Html.ActionLink("créer un nouveau", "Create", new { @class = "btn btn-save" })
                *@
            </p>
        </div>
    </div>

    <hr />
    <table class="table" id="categorie">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.libele)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.image)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.libele)
                    </td>
                    <td>
                        <img src="~/Uploads/Categorie_image/@Html.DisplayFor(model => item.image)" class="img-thumbnail" style="width:48px; height:48px;" />
                    </td>
                    <td>
                        @*  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#edit_categorie"
                                    data-url="@Url.Action($"Edit/{item.id}")">
                                Edit
                            </button>*@
                        <a href="@Url.Action("Edit", "Categories", new { id = item.id })" class="text-warning">
                            <i class="material-icons icon ">
                                edit
                            </i>
                        </a>
                        @* <a href="@Url.Action("Delete", "Categories", new { id = item.id })" class="text-danger">
                                <i class="material-icons icon ">
                                    delete
                                </i>
                            </a>*@
                        <a data-delete-id="@item.id" class="text-danger delete-link-categorie pointer">
                            <i class="material-icons icon ">
                                delete
                            </i>
                        </a>

                        @*    @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                            @Html.ActionLink("Details", "Details", new { id = item.id }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.id })*@
                    </td>
                </tr>
            }
        </tbody>

    </table>


</div>
