@model IEnumerable<Ecommerce.Models.LignePanier>
    @using Ecommerce.Models

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_ClientDashboard.cshtml";
}

@{ 
    float total = 0;
    float economie_commande = 0;

}

<div class="m-5">
    @Html.Hidden("__RequestVerificationToken", @Html.AntiForgeryToken())

    <h2>
        Panier (@Session["coutPanier"] articles)
    </h2>
    <table class="table-no-searh w-100" id="ligne-panier-table">
        <thead>
            <tr class="border">
                <th>
                    ARTICLE
                </th>
                <th>
                    QUANTITÉ
                </th>
                <th>
                    PRIX UNITAIRE
                </th>
                <th>
                    SOUS-TOTAL
                </th>
                @* <th>
                        ACTION
                    </th>*@
            </tr>
        </thead>
        <tbody>

            @if (Model != null)
            {

                foreach (var item in Model)
                {


                    PrixProduit prix = new PrixProduit(item);

                    <tr class="border">
                        <td class="p-3">
                            <p>@item.Produit.name</p>
                            <img src="~/Uploads/Produit_image/@Html.DisplayFor(modelItem => item.Produit.image)" style="height: 120px; width:120px;" alt="produit" class="img-fluid">
                            <div class="d-flex">
                                <a class="btn text-danger px-3 border-right delete-link-panier pointer" id-produit="@item.id_produit" id-panier="@item.id_panier">Supprimer</a>
                                <a class="btn text-danger px-3 border-right envie pointer" id="@item.id_produit">METTRE DE CÔTÉ</a>
                            </div>
                        </td>
                        <td>
                            <div class="d-flex justify-content-around">

                                @{
                                    int qty = item.Produit.quantite_stock;
                                    int max_qty = (qty <= 5) ? qty : 5;
                                    List<int> qtys = new List<int>();
                                    for (int i = 1; i <= max_qty; i++)
                                    {
                                        qtys.Add(i);
                                    }
                                }

                                @if (qty > 0)
                                {
                                    @Html.DropDownList(
                                  "produit" + item.Produit.id.ToString(),
                                  new SelectList(qtys, qtys.Where(x => x == item.quantite).First()), htmlAttributes: new { @class = "panier_qty form-control", @idProduit = item.Produit.id.ToString() })

                                    total += prix.prix_total;
                                    economie_commande += prix.economie_total;

                                    Session["total"] = total ;

                                }
                                else
                                {
                                        <span class="material-icons text-danger">
                                            remove_circle_outline
                                        </span>
                                        <p class="text-danger font-baloo uppercase">épuisé
                                        </p>
                                }
                            </div>
                        </td>

                        <td>
                            <span class="font-weight-bold">@String.Format("{0:0.00}", @prix.prix_unitaire) DHs</span>

                            @if (item.Produit.Promotion != null)
                            {
                                <p class=" font-rale">

                                    Economie: <span class="text-success">- @item.Produit.Promotion.taux_promotion % </span>  <br />
                                    <span class="font-size-16 text-success">@String.Format("{0:0.00}", @prix.economie) DHs</span>
                                </p>
                            }
                        </td>
                        <td>

                            @if (qty > 0)
                            {

                                <span class="font-weight-bold"> @String.Format("{0:0.00}", @prix.prix_total) DHs</span>
                                if (item.Produit.Promotion != null)
                                {
                                    <p class=" font-rale">
                                        Economie:
                                        <span class="font-size-16 text-success">@String.Format("{0:0.00}", @prix.economie_total) DHs</span>
                                    </p>
                                }
                            }
                            else
                            {
                                <span class="material-icons text-danger">
                                    remove_circle_outline
                                </span>
                                <p class="text-danger font-baloo uppercase">
                                    épuisé
                                </p>
                            }
                        </td>
                    </tr>
                }
            }
        </tbody>

    </table>
    <hr />

    <div>
        <p>
            <span class="font-baloo font-weight-bold font-size-20">Total:</span> @String.Format("{0:0.00}", total)  DHs
            @if (economie_commande != 0)
            {

                <span class="font-baloo font-weight-bold text-success font-size-12"> <br />Economie: @String.Format("{0:0.00}", economie_commande)  DHs</span>
            }
        </p>
       
    </div>

    <div class="row">
        <div class="col-md-6 col-12 w-100">
            <div class="form-group">
                @(Html.ActionLink("Finaliser la Commande","FinaliserCommande", new { id = "" },new { @class= "btn btn-save text-white" } ))
@*                <button class="" id="create">Finaliser la commande</button>
*@            </div>
        </div>
    </div>

</div>