@using System.Globalization;

@{
    Layout = "~/Views/Shared/_adminDashboard.cshtml";
}

<div class="m-5">
    <div class="card">
        <div class="card-header d-flex justify-content-xl-between">
            <h4>@DateTime.Now.ToString("Y", new CultureInfo("fr-CA"))</h4>
            <select name="date" id="date" size="1" style="width:200px;" class="form-control">
                <option value="-1">Sélectionnez un mois</option>
                <option value="1">Janvier</option>
                <option value="2">Février</option>
                <option value="3">Mars</option>
                <option value="4">Avril</option>
                <option value="5">Mai</option>
                <option value="6">Juin</option>
                <option value="7">Juillet</option>
                <option value="8">Août</option>
                <option value="9">Septembre</option>
                <option value="10">Octobre</option>
                <option value="11">Novembre</option>
                <option value="12">Décembre</option>
            </select>
        </div>
        <div class="card-body">
            <div class="row justify-content-center">
                <div class="col-md-3 h-100">
                    <div class="card">
                        <div class="card-header bg-orange-bold text-center">
                            <h6>Nouveau users</h6>
                        </div>
                        <div class="card-body text-center">
                                <p class="font-size-24">
                                    <i class="fas fa-user-plus text-orange mr-2"></i><span>@ViewBag.nb_clients_joins</span>
                                </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 h-100">
                    <div class="card">
                        <div class="card-header bg-orange-bold text-center">
                            <h6>Commandes livrée</h6>
                        </div>
                        <div class="card-body text-center">
                            <p class="font-size-24">
                                <i class="fas fa-clipboard-check text-orange mr-2"></i>
                                <span>@ViewBag.nb_commande_livre</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="card">
                        <div class="card-header bg-orange-bold text-center">
                            <h6>Chiffre d'affaires du mois</h6>
                        </div>
                        <div class="card-body text-center">
                            <p class="font-size-24">
                                <i class="fas fa-money-bill-alt text-orange mr-2"></i>
                                <span>@ViewBag.CA DH</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <div class="container">
      
        <div class="row">
            <div class="col-md-7 col-12" style="border-right:2px;">
                <div id="top-products"></div>
            </div>
            <div class="col-md-5 col-12">
                <div id="top-users"></div>
            </div>
        </div>
        <div class="row">
            <div class="card col-md-6 col-12">
                <div id="commandes"></div>
            </div>
            <div class="card col-md-6 col-12">
                <div id="register-client"></div>
            </div>
        </div>
    </div>
</div>
@section chart{
    <script>
        $(document).ready(function () {

            $("#date").change(function () {
                console.log($("#date option:selected").val());
                var mois = $("#date option:selected").val();
                window.location.replace("https://localhost:44352/Dashboard/Index?mois="+mois);

            });


            var users = @Html.Raw(Json.Encode(ViewBag.users));
            var months = @Html.Raw(Json.Encode(ViewBag.months));
            var topUsers = @Html.Raw(Json.Encode(ViewBag.top_users));
            var topProducts = @Html.Raw(Json.Encode(ViewBag.top_products));
            var commandes = @Html.Raw(Json.Encode(ViewBag.nb_commandes));
            var nb_commandes_livre = @Html.Raw(Json.Encode(ViewBag.nb_commandes_livre));
            var nb_commandes_attente = @Html.Raw(Json.Encode(ViewBag.nb_commandes_attente));

            Highcharts.chart('commandes', {

                chart: {
                    type: 'line'
                },
                title: {
                    text: 'le Nombre total des commandes ajoutées chaque mois.'
                },
                xAxis: {
                    categories: months
                },
                yAxis: {
                    title: {
                        text: 'Nombre total'
                    }
                },
                plotOptions: {
                    line: {
                        dataLabels: {
                            enabled: true
                        },
                        enableMouseTracking: false
                    }
                },
                series: [{
                    name: 'Nombre total des commandes',
                    data: commandes
                },{
                    name: 'Nombre total des commandes livrées',
                        data: nb_commandes_livre
                },{
                    name: 'Nombre total des commandes en attente',
                        data: nb_commandes_attente
                },]

            });

            console.log(topUsers);
            Highcharts.chart('register-client', {

                chart: {
                    type: 'areaspline'
                },
                title: {
                    text: 'le Nombre total des utilisateurs inscris chaque mois.'
                },
                xAxis: {
                    categories: months
                },
                yAxis: {
                    title: {
                        text: 'Nombre total'
                    }
                },
                plotOptions: {
                    line: {
                        dataLabels: {
                            enabled: true
                        },
                        enableMouseTracking: false
                    }
                },
                series: [{
                    name: 'Nombre total des utilisateurs',
                    data: users
                }]

            });



            Highcharts.chart('top-users', {
                chart: {
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false,
                    type: 'pie'
                },
                title: {
                    text: 'TOP 5 Clients'
                },
                tooltip: {
                    pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                },
                accessibility: {
                    point: {
                        valueSuffix: '%'
                    }
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: true,
                            format: '<b>{point.name}</b>: {point.percentage:.1f} %'
                        }
                    }
                },
                series: [{
                    name: 'Achat',
                    colorByPoint: true,
                    data: topUsers
                }]
            });


            Highcharts.chart('top-products', {
                chart: {
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false,
                    type: 'pie'
                },
                title: {
                    text: 'TOP 5 Produits'
                },
                tooltip: {
                    pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                },
                accessibility: {
                    point: {
                        valueSuffix: '%'
                    }
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: true,
                            format: '<b>{point.name}</b>: {point.percentage:.1f} %'
                        }
                    }
                },
                series: [{
                    name: 'Vente',
                    colorByPoint: true,
                    data: topProducts
                }]
            });
        });
    </script>

}
