@model Ecommerce.Models.Produit
@{
    Layout = "~/Views/Shared/_adminDashboard.cshtml";
}



<div class="m-5">
    <h2>Details</h2>

    <h4>@Model.name</h4>
    <hr />
    <div class="row">
        <div class="col-md-9 col-12">
            <dl class="dl-horizontal row">

                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Categorie.libele)
                </dt>

                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Categorie.libele)
                </dd>

                @if (Model.Promotion != null)
                {
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.Promotion.libele)
                    </dt>

                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.Promotion.libele)
                    </dd>
                }
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.User.Email)
                </dt>

                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.User.Email)
                </dd>

                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.description)
                </dt>

                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.description)
                </dd>

                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.prix_achat)
                </dt>

                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.prix_achat) DH
                </dd>

                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.prix_vente)
                </dt>

                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.prix_vente) DH
                </dd>

                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.quantite_stock)
                </dt>

                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.quantite_stock)
                </dd>

                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.tva)
                </dt>

                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.tva) %
                </dd>

                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.image)
                </dt>

                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.image)
                </dd>

                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.date_ajout)
                </dt>

                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.date_ajout)
                </dd>

                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.date_modification)
                </dt>

                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.date_modification)
                </dd>

            </dl>
        </div>
        <div class="col-md-3 col-12">
            <img src="~/Uploads/Produit_image/@Model.image" class="h-100 w-100" />
        </div>

    </div>
    <p>
        @Html.ActionLink("Modifier", "Edit", new { id = Model.id }) |
        @Html.ActionLink("Retour à la liste", "Index")
    </p>

</div>
