@model IEnumerable<Ecommerce.Models.Produit>
@{
    Layout = "~/Views/Shared/_adminDashboard.cshtml";
}

<div class="m-5">


    <div class="row justify-content-around">
        <div class="col-md-6 col-12">
            <h2>Les produits</h2>
        </div>
        <div class="col-md-6 col-12">
            <p>
                <a href="@Url.Action("create", "Produits")" class="btn btn-orange text-white d-flex w-50 justify-content-around">
                    <i class="material-icons icon">control_point </i><span> Créer un nouveau</span>
                </a>
                @*        @Html.ActionLink("créer un nouveau", "Create", new { @class = "btn btn-save" })
                *@
            </p>
        </div>
    </div>

    <hr />
   
    <table class="table" id="produitTable">
        <thead>
            <tr>
                <th>
                    Id
                </th>
                <th>
                    Nom
                </th>
                <th>
                    Catégorie
                </th>

                <th>
                    Ajouté par
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.image)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.date_ajout)
                </th>

                <th></th>
            </tr>
        </thead>

        <tbody>

            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Categorie.libele)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.User.UserName)
                </td>

                <td>
                    <img src="~/Uploads/Produit_image/@Html.DisplayFor(model => item.image)" class="img-thumbnail" style="width:48px; height:48px;" />
                </td>
                <td>
                    @*                    @Html.DisplayFor(modelItem => item.date_ajout.ToShortDateString())
                    *@                    @Convert.ToDateTime(item.date_ajout).ToString("dd/MM/yyyy")

                </td>

                <td>
                    <a href="@Url.Action("Edit", "Produits", new { id = item.id })" class="text-warning">
                        <i class="material-icons icon ">
                            edit
                        </i>
                    </a>
                    <a href="@Url.Action("Details", "Produits", new { id = item.id })" class="text-success">
                        <i class="material-icons icon ">
                            visibility
                        </i>
                    </a>
                    <a data-delete-id="@item.id" class="text-danger delete-link-produit pointer">
                        <i class="material-icons icon ">
                            delete
                        </i>
                    </a>
                    @Html.Hidden("__RequestVerificationToken", @Html.AntiForgeryToken())


                </td>
            </tr>
            }
        </tbody>
    </table>
</div>